.container {
	margin: 0 auto;
	width: 80%;
	background-image:url(https://scontent-a-sea.xx.fbcdn.net/hphotos-prn2/1510858_10103670097556939_1805195297_n.jpg);
	background-repeat:repeat;
	background-attachment:fixed;
	overflow:scroll;
}


.mceEditor > table {
    width: 200px !important;
}

.rachel {
	float: left;
	margin-right: 20px;
	width: 100px;
	margin-bottom:5px;
}
